/* classes to style the background of the UV index */
.uvLow {
    background-color: green;
}

.uvModerate {
    background-color: yellow;
}

.uvHigh {
    background-color: orange;
}

.uvVeryHigh {
    background-color: red;
}

.uvExtreme {
    background-color: violet;
}
